{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{- $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hasGui := promptBoolOnce . "hasGui" "does this machine have a gui?" -}}
{{- $hasNiri := ne (lookPath "niri") "" -}}

[data]
  osid = {{ $osID | quote }}
  gui = {{ $hasGui }}
  niri = {{ $hasNiri }}

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]
