{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ else if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ end -}}

GREEN="\033[32m"
RED="\033[31m"
YELLOW="\033[33m"
BLUE="\033[34m"
RESET="\033[0m"

{{ if eq .chezmoi.os "linux" }}
FILE_PATH="/etc/zsh/zshenv"
ZDOTDIR="/home/{{ .chezmoi.username }}/.config/zsh"
{{ else if eq .chezmoi.os "android" }}
FILE_PATH="/data/data/com.termux/files/usr/etc/zshenv"
ZDOTDIR="{{ .chezmoi.homeDir }}/.config/zsh"
{{ end -}}

# check if the file exists
if [[ -e "$FILE_PATH" ]]; then
    echo -e "${GREEN}file already exists: $FILE_PATH${RESET}\n"
    echo -e "${GREEN}current content:${RESET}"
    cat "$FILE_PATH"
    echo

    # ask if the user wants to overwrite the file
    read -p "$(echo -e "${BLUE}do you want to overwrite this file with the new ZDOTDIR? (y/n): ${RESET}")" answer
    if [[ "$answer" != "y" ]]; then
        echo -e "${GREEN}exiting without making changes.${RESET}\n"
        exit 0
    fi
else
    echo -e "${YELLOW}file does not exist, proceeding to create it.${RESET}\n"
fi

# overwrite or create the file with the new ZDOTDIR value
{{ if eq .chezmoi.os "linux" }}
sudo echo "ZDOTDIR=$ZDOTDIR" > "$FILE_PATH"
{{ else if eq .chezmoi.os "android" }}
echo "ZDOTDIR=$ZDOTDIR" > "$FILE_PATH"
{{ end -}}

echo -e "${GREEN}file $FILE_PATH has been overwritten with the new ZDOTDIR value.${RESET}\n"
echo -e "${GREEN}content of the file:${RESET}"
cat "$FILE_PATH"
echo
