#!/bin/bash

{{- if eq .chezmoi.os "linux" -}}
FILE_PATH="/etc/zsh/zshenv"
ZDOTDIR="/home/{{ chezmoi.username }}/.config/zsh"
{{- else if eq .chezmoi.os "android" -}}
FILE_PATH="/data/data/com.termux/files/usr/etc/zshenv"
ZDOTDIR="{{- .chezmoi.homeDir -}}/.config/zsh"
{{- end -}}

# check if the file exists
if [[ -e "$FILE_PATH" ]]; then
    echo "file already exists: $FILE_PATH"
    echo "current content:"
    cat "$FILE_PATH"

    # ask if the user wants to overwrite the file
    read -p "do you want to overwrite this file with the new ZDOTDIR? (y/n): " answer
    if [[ "$answer" != "y" ]]; then
        echo "exiting without making changes."
        exit 0
    fi
else
    echo "file does not exist, proceeding to create it."
fi

# overwrite or create the file with the new ZDOTDIR value
{{- if eq .chezmoi.os "linux" -}}
sudo tee "$FILE_PATH" > /dev/null <<< "ZDOTDIR=$ZDOTDIR"
{{- else if eq .chezmoi.os "android" -}}
tee "$FILE_PATH" > /dev/null <<< "ZDOTDIR=$ZDOTDIR"
{{- end -}}

echo "file $FILE_PATH has been overwritten with the new ZDOTDIR value."
echo "content of the file:"
cat "$FILE_PATH"
