{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{- else if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash
{{- end }}

GREEN="\033[32m"
RED="\033[31m"
RESET="\033[0m"

echo -e "$GREEN\n[TMUX PLUGIN MANAGER]\n$RESET"

TPM_DIR="$HOME/.config/tmux/plugins/tpm"

if [[ -d "$TPM_DIR" ]]; then
    echo -e "${GREEN}tmux plugin manager is already installed at $TPM_DIR.${RESET}"
    exit 0
fi

echo -e "${GREEN}installing tmux plugin manager...${RESET}"
git clone https://github.com/tmux-plugins/tpm "$TPM_DIR"

if [[ $? -eq 0 ]]; then
    echo -e "${GREEN}tmux plugin manager has been successfully installed.${RESET}"
else
    echo -e "${RED}failed to install tmux plugin manager.${RESET}"
    exit 1
fi
