{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ else if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash
{{- end }}

GREEN="\033[32m"
RESET="\033[0m"

PLUGIN_DIR="{{ .chezmoi.homeDir }}/.config/zsh/plugins"
PLUGINS=(
    "zsh-users/zsh-autosuggestions"
    "zsh-users/zsh-syntax-highlighting"
    "Aloxaf/fzf-tab"
)

mkdir -p "$PLUGIN_DIR"

for plugin in "${PLUGINS[@]}"; do
    plugin_name=$(basename "$plugin")
    plugin_dir="$PLUGIN_DIR/$plugin_name"

    if [[ ! -d "$plugin_dir" ]]; then
        echo -e "${GREEN}cloning $plugin_name...${RESET}"
        git clone "https://github.com/$plugin.git" "$plugin_dir"
    else
        echo -e "${GREEN}$plugin_name is already installed.${RESET}"
    fi
done

echo
