{{- if eq .niri true -}}

input {
    keyboard {
        // enable numlock on startup
        numlock
    }

    mouse {
        accel-speed -0.2
    }
}

// settings that influence how windows are positioned and sized.
layout {
    gaps 10

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // uncomment this line to disable the focus ring.
        off
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // border is similar to the focus ring, but always visible.
    border {
        // off
        width 2
        active-color "#3d3d3d"
        inactive-color "#1e1e1e"
        urgent-color "#c85858"
    }

    // drop shadows for windows.
    shadow {
        on
        softness 10
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    background-color "transparent"
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#3d3d3d"
        urgent-color "#c85858"
        corner-radius 8
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20

    hide-after-inactive-ms 3000
}

overview {
    workspace-shadow {
      off
    }
}

environment {
    QS_ICON_THEME "Papirus-Dark"
}

// autostart
spawn-at-startup "qs" "-c" "noctalia-shell"
// spawn-at-startup "keepassxc" "--minimized"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "opensnicthui"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

hotkey-overlay {
    skip-at-startup
}

// ask the clients to omit their client-side decorations if possible.
prefer-no-csd

// the path where screenshots are saved.
screenshot-path "~/Pictures/Desktop Screenshots/Screenshot_%Y%m%d_%H%M%S.png"

// animation settings.
animations {
    // off
    slowdown 1.5
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "binds.kdl"
include "window-rules.kdl"

{{- end -}}
