{{ if eq .chezmoi.os "linux" -}}
{{ $noctaliaVersion := "3.3.1" -}}
[".config/quickshell/noctalia-shell"]
    type = "archive"
    url = "https://github.com/noctalia-dev/noctalia-shell/releases/download/v{{ $noctaliaVersion }}/noctalia-latest.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{ end -}}
