# configuration
alias zshconf="nvim ~/.zshrc"
alias sshconf="nvim ~/.ssh/config"

# termux
alias reload="termux-reload-settings"
alias clip="termux-clipboard-set"
alias update="pkg update && pkg upgrade -y"

alias refresh="source ~/.zshrc"
alias c="clear"
alias q="exit"

# TMUX
# start new tmux session or attach to an existing one
alias ta='tmux attach-session -t'
# create a new tmux session with a name
alias tn='tmux new-session -s'
# list all tmux sessions
alias tls='tmux list-sessions'

# directories navigation
alias ..="cd .." # go up one directory
alias ...="cd ../.." # go up two directories
alias cdb='cd $(ls -d */ | fzf)' #cd using fuzzy search

# function to quickly create a new directory and navigate into it
mkcd() { mkdir -p "$1" && cd "$1"; }

# compressed a directory
compress() {
    tar -czf "$1.tar.gz" "$1" && echo "Compressed $1 to $1.tar.gz"
}

alias mv='mv -i' # -i flag to prompt before overwriting/deleting files
alias cp='cp -i'
alias rm='rm -i'
alias rmd='rm -rf' # force delete directory

# eza
alias ls="eza --icons --group-directories-first --git -1"
alias fzfile="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}' --layout=reverse --preview-window=top:20 | xargs nvim"

# chroot starter
alias deb="~/scripts/chroot/startxfce4_chrootDebian.sh"
alias debcli="su -c 'sh /data/local/tmp/start_debian_no_gui.sh'"
