{
    "appLauncher": {
        "backgroundOpacity": 1,
        "enableClipboardHistory": true,
        "pinnedExecs": [
        ],
        "position": "center",
        "sortByMostUsed": true,
        "terminalCommand": "kitty -e",
        "useApp2Unit": false
    },
    "audio": {
        "cavaFrameRate": 60,
        "mprisBlacklist": [
        ],
        "preferredPlayer": "",
        "visualizerType": "wave",
        "volumeOverdrive": false,
        "volumeStep": 5
    },
    "bar": {
        "backgroundOpacity": 0.9,
        "density": "default",
        "floating": true,
        "marginHorizontal": 0.25,
        "marginVertical": 0.25,
        "monitors": [
        ],
        "position": "top",
        "showCapsule": true,
        "widgets": {
            "center": [
                {
                    "hideUnoccupied": false,
                    "id": "Workspace",
                    "labelMode": "index"
                }
            ],
            "left": [
                {
                    "id": "SystemMonitor",
                    "showCpuTemp": true,
                    "showCpuUsage": true,
                    "showDiskUsage": false,
                    "showMemoryAsPercent": true,
                    "showMemoryUsage": true,
                    "showNetworkStats": false
                },
                {
                    "hideMode": "hidden",
                    "id": "MediaMini",
                    "scrollingMode": "hover",
                    "showAlbumArt": true,
                    "showVisualizer": true,
                    "visualizerType": "wave"
                },
                {
                    "colorizeIcons": false,
                    "hideMode": "hidden",
                    "id": "ActiveWindow",
                    "scrollingMode": "hover",
                    "showIcon": true,
                    "width": 145
                }
            ],
            "right": [
                {
                    "id": "ScreenRecorder"
                },
                {
                    "blacklist": [
                    ],
                    "colorizeIcons": false,
                    "id": "Tray"
                },
                {
                    "hideWhenZero": true,
                    "id": "NotificationHistory",
                    "showUnreadBadge": true
                },
                {
                    "displayMode": "onhover",
                    "id": "Volume"
                },
                {
                    "displayMode": "onhover",
                    "id": "Microphone"
                },
                {
                    "displayMode": "onhover",
                    "id": "Brightness"
                },
                {
                    "customFont": "",
                    "formatHorizontal": "HH:mm ddd, MMM dd",
                    "formatVertical": "HH mm - dd MM",
                    "id": "Clock",
                    "useCustomFont": false,
                    "usePrimaryColor": true
                },
                {
                    "customIconPath": "",
                    "icon": "noctalia",
                    "id": "ControlCenter",
                    "useDistroLogo": false
                }
            ]
        }
    },
    "battery": {
        "chargingMode": 0
    },
    "brightness": {
        "brightnessStep": 5
    },
    "colorSchemes": {
        "darkMode": true,
        "generateTemplatesForPredefined": true,
        "matugenSchemeType": "scheme-neutral",
        "predefinedScheme": "Monochrome",
        "useWallpaperColors": true
    },
    "controlCenter": {
        "cards": [
            {
                "enabled": true,
                "id": "profile-card"
            },
            {
                "enabled": true,
                "id": "shortcuts-card"
            },
            {
                "enabled": true,
                "id": "audio-card"
            },
            {
                "enabled": true,
                "id": "weather-card"
            },
            {
                "enabled": true,
                "id": "media-sysmon-card"
            }
        ],
        "position": "close_to_bar_button",
        "shortcuts": {
            "left": [
                {
                    "id": "WiFi"
                },
                {
                    "id": "Bluetooth"
                },
                {
                    "id": "ScreenRecorder"
                },
                {
                    "id": "WallpaperSelector"
                }
            ],
            "right": [
                {
                    "id": "Notifications"
                },
                {
                    "id": "KeepAwake"
                },
                {
                    "id": "PowerProfile"
                },
                {
                    "id": "NightLight"
                }
            ]
        }
    },
    "dock": {
        "backgroundOpacity": 0.9,
        "colorizeIcons": false,
        "displayMode": "exclusive",
        "floatingRatio": 0.25,
        "monitors": [
            "DP-3"
        ],
        "onlySameOutput": true,
        "pinnedApps": [
            "thunar",
            "zen",
            "firefox",
            "helium-browser",
            "com.github.th_ch.youtube_music"
            "obsidian",
            "gimp",
            "kitty",
            "dev.zed.Zed",
            "signal-desktop",
            "org.mozilla.Thunderbird",
            "org.keepassxc.KeePassXC",
        ]
    },
    "general": {
        "animationDisabled": false,
        "animationSpeed": 1,
        "avatarImage": "",
        "compactLockScreen": false,
        "dimDesktop": false,
        "forceBlackScreenCorners": false,
        "radiusRatio": 0.7599999999999999,
        "scaleRatio": 1,
        "screenRadiusRatio": 1,
        "showScreenCorners": false
    },
    "hooks": {
        "darkModeChange": "",
        "enabled": false,
        "wallpaperChange": ""
    },
    "location": {
        "name": "Tokyo",
        "showWeekNumberInCalendar": false,
        "use12hourFormat": false,
        "useFahrenheit": false,
        "weatherEnabled": false
    },
    "network": {
        "wifiEnabled": true
    },
    "nightLight": {
        "autoSchedule": true,
        "dayTemp": "6500",
        "enabled": false,
        "forced": false,
        "manualSunrise": "06:30",
        "manualSunset": "18:30",
        "nightTemp": "4000"
    },
    "notifications": {
        "alwaysOnTop": false,
        "criticalUrgencyDuration": 15,
        "doNotDisturb": false,
        "lastSeenTs": 1761571159000,
        "location": "top_right",
        "lowUrgencyDuration": 3,
        "monitors": [
            "DP-3"
        ],
        "normalUrgencyDuration": 8,
        "respectExpireTimeout": true
    },
    "osd": {
        "alwaysOnTop": false,
        "autoHideMs": 2000,
        "enabled": true,
        "location": "bottom",
        "monitors": [
        ]
    },
    "screenRecorder": {
        "audioCodec": "opus",
        "audioSource": "default_output",
        "colorRange": "limited",
        "directory": "/home/{{ .chezmoi.username }}/Videos/Recordings",
        "frameRate": 60,
        "quality": "very_high",
        "showCursor": true,
        "videoCodec": "h264",
        "videoSource": "portal"
    },
    "settingsVersion": 16,
    "setupCompleted": true,
    "templates": {
        "discord": false,
        "discord_armcord": false,
        "discord_dorion": false,
        "discord_equibop": false,
        "discord_lightcord": false,
        "discord_vesktop": false,
        "discord_webcord": false,
        "enableUserTemplates": false,
        "foot": false,
        "fuzzel": false,
        "ghostty": false,
        "gtk": false,
        "kcolorscheme": false,
        "kitty": false,
        "pywalfox": false,
        "qt": false
    },
    "ui": {
        "fontDefault": "Inter",
        "fontDefaultScale": 1,
        "fontFixed": "JetBrainsMono Nerd Font",
        "fontFixedScale": 1,
        "tooltipsEnabled": true
    },
    "wallpaper": {
        "defaultWallpaper": "/home/{{ .chezmoi.username }}/.config/quickshell/noctalia-shell/Assets/Wallpaper/noctalia.png",
        "directory": "/home/{{ .chezmoi.username }}/Pictures/Wallpapers/Current",
        "enableMultiMonitorDirectories": false,
        "enabled": true,
        "fillColor": "#000000",
        "fillMode": "crop",
        "monitors": [
            {
                "directory": "/home/{{ .chezmoi.username }}/Pictures/Wallpapers",
                "name": "DP-3",
                "wallpaper": "/home/{{ .chezmoi.username }}/Pictures/Wallpapers/Current/original_1492f8f03b48aa96d70a0fc832047cfa.jpg"
            }
        ],
        "randomEnabled": false,
        "randomIntervalSec": 7200,
        "setWallpaperOnAllMonitors": true,
        "transitionDuration": 1500,
        "transitionEdgeSmoothness": 0.05,
        "transitionType": "fade"
    }
}
